body {
    font-family: sans-serif;
}

th {
    background-color: #c0bebe;
}

th,
td {
    border: solid 1px;
    padding: 10px;
}

table {
    border-collapse: collapse;
}

.input-block {
    display: flex;
    flex-direction: column;
}

.select-block {
    margin-bottom: 16px;
}

select,
label {
    height: 32px;
    font-size: 14px;
}