body {
    font-family: sans-serif;
    }
th {
    background-color: #c0bebe;  /* 背景色指定 */
}
th,td {
    border: solid 1px;  /* 枠線指定 */
    padding: 10px;      /* 余白指定 */
}
table {
    border-collapse:  collapse;     /* セルの線を重ねる */
}
.input-block {
    display: flex;
    flex-direction: column;
  }
  
  .select-block {
    margin-bottom: 16px;
  }
  
  select, label {
    height: 32px;
    font-size: 14px;
  }